div{
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  color: blue;
  font-family: monospace;
}
label{
  text-align: center;
}
input{
  text-align: center;
}
button{
  text-align: center;
  align-items: center;
  color: black;
  background-color: green
}
